<div class="col_12">  
	<h4>Meu Carrinho</h4>
		<h5> Você adicionou <span><%=current_user.cart_count%></span> Produtos!</h5>
	<div class="col_5">
		<% @cart_produtos.each do |produto|%>
			<br>
			<hr>
	        <p> <%= produto.nome %> </p>
	      	<h5>$ <%= produto.preco %></h5>

	      	<%=link_to 'Ver produtos', produto, class: "btn btn-medium" %>
	      	<br>
	  	<%end%>
	</div>
</div>
