@import "colors";

// ############# Button(begin) ###############

.btn {
	padding: 6px 12px;
	background-color: $whitecolor;
    border-color: $graycolor;
	border-radius: 4px;
	border: 1px solid;
}

.btn.btn-medium{
	padding: 10px 16px;
	background-color: $whitecolor;
    border-color: $graycolor;
	border-radius: 4.2px;
	border: 1.5px solid;
}


.btn.btn-large{
	padding: 14px 20px;
	background-color: $whitecolor;
    border-color: $graycolor;
	border-radius: 4.5px;
	border: 2px solid;
}



// ############# Button(end) ###############
