$whitecolor: #FFFFFF;
$darkcolor: #000000;
$blackcolor: #081004;
$basicnavbar: #E8E8E8;
$graycolor: #CCCCCC;
$graycolor1: #828282;
$graycolor2: #6B6B73;
$decoration: #8e888a;
$defaultfooter: #e74c3c;
$backpre: #EDEDED;
$codecolor: #7F091C;
$blockcolor: #71637F;
