@import "colors";

// ############# Footer(begin) ###############
.footer{
  text-align:center;
  display:block;
  color:$whitecolor;
  padding:20px;
   margin-bottom: 0;
}

.footer{
  background:$defaultfooter;

}
// ############# Footer(end) ###############
