@import "colors";

// ############# Navbar(begin) ###############

.navbar .side_list,
.navbar .side_list_right,
.navbar .side_list_left{
	overflow: hidden;
	background-color: $basicnavbar;
	padding: 0;
	margin: 0;
}

.side_list{
	text-align: center;
}
.side_list_right{
	text-align: right;
}

.side_list_left{
	text-align: left;
}

.navbar .side_list li a,
.navbar .side_list_right li a,
.navbar .side_list_left li a{
	color:$blackcolor;
}

.navbar .side_list li,
.navbar .side_list_right li,
.navbar .side_list_left li{
	cursor: pointer;
	display: inline-block;
	padding: 20px;
}


.navbar .side_list li:hover {
  color: $whitecolor;
}




// ############# Navbar(end) ###############
